<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="local" value="/Users/ancplua/ANcpLua.Roslyn.Utilities/artifacts/package/release" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="System.*" />
    </packageSource>
    <packageSource key="dotnet10">
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.NET.*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="ANcpLua.Roslyn.Utilities*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
